@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "normalize-rails";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=vietnamese');
$bgDefault: #ffffff;
$bgHighlight: #ffffff;
$colDefault: #2f4f4f;
$colHighlight: #2f4f4f;
$textCol: #39575A;
$starrrColor: #FFD119 !default;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.search {
  height: 65px;
  .form-control {
    margin: 0;
  }
}

.subsubsub {
  margin-bottom: 15px;
  .filter-sel {
    width: 500px;
    margin: 0;
  }
}

.comment-list {
  list-style: none;
  .comment-item {
    margin-top: 15px;
  }
}


.comment-time {
  font-size: 10px;
  text-decoration: underline;
  margin-left: 38px;
}

.review-date {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}

/* USER PROFILE PAGE */

.follist {
  list-style: none;
}

.folavatar {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.follow-control {
  text-align: center;
  margin-bottom: 15px;
  .btn {
    width: 150px;
    border-radius: 0;
  }

}

.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}

.card.hovercard .card-background {
  height: 130px;
}

.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}

.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}

.card.hovercard .card-info .card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn-pref .btn {
  -webkit-border-radius: 0 !important;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: url(heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

.avg-head {
  font-size: 22px;
}

.avg-rating {
  font-size: 30px;
  color: $textCol;
  text-decoration: none !important;
  cursor: pointer;
}

.review-list {
  list-style: none;
}

.totop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 7px 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  background-color: darkSlateGray;
}

.totop a {
  display: none;
  color: white;
}

.review-item {
  display: none;
  padding: 10px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  margin-bottom: 5px;
  background-color: #f1f1f1;
}

#loadMore {
  text-decoration: none;
  margin: 0 auto;
  display: table;
  padding: 10px;
  text-align: center;
  background-color: #33739E;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

#loadMore:hover {
  background-color: #fff;
  color: #33739E;
}

.no-rating {
  font-size: 14px;
}

h4 .rate-count {
  font-size: 36px;
}

.starrr {
  display: inline-block;
  a {
    font-size: 20px;
    padding: 0 1px;
    cursor: pointer;
    color: $starrrColor;
    text-decoration: none;
  }
}

.rate-count i {
  color: $starrrColor;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  width: auto;
  margin-left: 0;
}

.bars {
  .navbar {
    list-style: none;
    padding: 0px;
  }
  i {
    color: red;
  }
  ul > li {
    float: left;
    padding: 1px 10px;
    border-right: 1px solid #505050;
    height: 22px;
    display: inline-block;
  }
  ul > li:last-child {
    border-right: none;
  }
}

.content-break {
  position: relative;
  height: 10px;
  margin: 0 -10px 16px -10px;
  background-color: darkSlateGray;
}

.pub-date {
  font-style: bold;
  color: #1F3A93;
}

.highlight {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 95%, rgba(255, 255, 255, 0));
}

.timestamp {
  font-size: 12px;
  font-style: italic;
}


/* Fav Books */

.fav-list {
  list-style: none;
  .fav-item {
    text-align: center;
    margin: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    width: 175px;
    display: inline-block;
  }
  .favorited-books {
    font-size: 19px;
    font-weight: bold;
  }
  .book-count {
    font-size: 33px;
  }
  .fav-box {
    height: 600px;
    overflow-y: scroll;
    padding: 5px;
  }
}


/* Book */

.book-list {
  list-style: none;
}

.book-item {
  display: inline-block;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 220px;
  text-align: center;
  .fa {
    font-size: 24px;
    color: red;
    text-decoration: none;
  }
}


/* User Profile */

.user-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  .user-name a {
    text-align: center;
    font-size: 24px;
    color: inherit;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
  }
}


/* Typo */

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}


/* The Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 25px;
}

.edit-modal-body {
  padding: 25px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* button */

.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  color: $textCol;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  border: 1px solid $colHighlight;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: black;
  color: #fff;
  transition: all 0.5s ease-in;
}


/* hr */

.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 0px;
}


/* welcome */

.jumbotron {
  text-align: center;
  background-color: inherit;
}

.welcome {
  a {
    text-decoration: none !important;
  }
  h6 {
    font-size: 22px;
    color: $textCol;
  }
  a.app-desc {
    font-size: 69px;
    font-weight: bold;
    color: rgb(47, 46, 46);
  }
}


/* main navbar */

.nav-center {
  margin: 0 auto;
  display: table;
  nav {
    background-color: $bgDefault;
    border: none;
    margin-top: 10px;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: $bgDefault;
    color: darkSlateGray;
    font-size: 26px;
    font-weight: bold;
    transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -moz-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -o-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -ms-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
  }
  .navbar-default .navbar-nav li a {
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: All .3s ease;
    -webkit-transition: All .3s ease;
    -moz-transition: All .3s ease;
    -o-transition: All .3s ease;
    transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
  }
  .navbar-default .navbar-nav li a:hover {
    background-color: $bgDefault;
    color: darkSlateGray;
    font-size: 26px;
    font-weight: bold;
    transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -moz-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -o-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
    -ms-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
  }
}

.mini-navbar {
  top: 15px;
  left: 15px;
  position: fixed;
  display: block;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  a {
    color: white;
  }
  .usercp {
    width: 60%;
    height: 60%;
    background-color: dimGray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    z-index: 19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position: absolute;
  }
  .test2 {
    width: 60%;
    height: 60%;
    background-color: dimGray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    z-index: 19;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
  }
  .test3 {
    width: 60%;
    height: 60%;
    background-color: dimGray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
  }
  .test4 {
    width: 60%;
    height: 60%;
    background-color: dimGray;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 70px;
    top: 25%;
    left: 25%;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
  }
  .mask2 {
    top: 15px;
    left: 15px;
    width: 100px;
    height: 100px;
    background: darkSlateGray;
    border-radius: 50%;
    position: absolute;
    z-index: 21;
    color: white;
    text-align: center;
    line-height: 120px;
    cursor: pointer;
    position: fixed;
  }
}


/* body */

body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url('bg.png');
  background-color: $bgDefault;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
