@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "normalize-rails";
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Glegoo');
$bgDefault: #ffffff;
$bgHighlight: #ffffff;
$colDefault: #2f4f4f;
$colHighlight: #2f4f4f;
$textCol: #39575A;
$starrrColor: #FFD119 !default;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.book-attributes {
  width: 700px;
  th {
    font-weight: 400;
    color: #333;
    width: 350px;
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px 10px;
    font-size: 13px;
    text-transform: uppercase;
  }
  tr:nth-child(even) {background: #f6f6f6}
}

.btn-filter {
  margin-top: -12px;
}

.sidebar {
  .sidebar-entry {
    margin-bottom: 30px;
    border: 1px solid #EEE;
    padding: 25px 30px;
    font-weight: 300;
    .entry-title {
      color: #222;
      font-weight: 300;
      padding: 20px 0;
      margin: 0;
      border-bottom: 1px solid #EEE;
      box-shadow: 0 1px 0 #FFF, 0 2px 0 #EEE;
      margin-bottom: 20px;
      padding-top: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ul li {
      border-bottom: 1px solid #EEE;
      line-height: 32px;
      color: #afafaf;
      text-transform: uppercase;
    }
    ul li a {
      display: inline-block;
      color: #737373;
      margin-right: 5px;
    }
  }
}

.book-info {
  display: block;
  position: relative;
  padding: 2px 20px;
  h3 {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 25px;
    a {
      color: #333;
    }
  }
  span {
    display: block;
    text-transform: none;
    a {
      color: #888;
      font-size: 13px;
    }
  }
}

.add-fav a {
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 38px;
  right: -52px;
}

.hackbox {
  margin-top: 20px;
  padding: 3px;
  border: 1px solid #EEE;
}

.mainbox {
  border: 1px solid #EEE;
  padding: 15px;
}

.realbox {
  padding: 20px 40px;
}

.box-content {
  width: 100%;
  display: table-cell;
  padding: 10px 0;
  vertical-align: middle;
  span {
    display: block;
    color: #777;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  strong {
    font-size: 30px;
    display: block;
    font-weight: 300;
  }
}

.explore-btn {
  background-color: black;
  color: white;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 12px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

.explore-btn:hover {
  color: white;
}

.box-button {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0;
}

.section-fav {
  small {
    display: block;
    margin-top: 8px;
    font-size: 15px;
  }
}

.caption {
  text-transform: none;
  text-align: center;
  span {
    font-size: 13px;
    text-align: right;
    text-transform: capitalize;
  }
}

.item-info {
  text-align: center;
  h3 {
    font-size: 18px;
    font-weight: 500;
    color: #222;
  }
  .favs {
    font-weight: 300;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-top: 20px;
    i {
      color: rgb(210, 42, 48);
    }
  }
}

.owl-carousel {
  .owl-item {
    max-height: 500px;
    width: 100%;
  }
  position: relative;
  height: 100%;
  margin-top: -3px;
}

.chat-box {
  margin: 0 auto;
  font-size: 16px;
  .username {
    font-weight: bold;
  }
  .right {
    text-align: right;
  }
  .left {
    color: blue;
  }
  .message {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
  }
}

.fading-side-menu.affix-top {
  opacity: 1;
  transition: opacity 1s
}

.fading-side-menu.affix {
  top: 11.5px;
}

.fading-side-menu.affix {
  opacity: 0.2;
  transition: opacity 5s
}

.fading-side-menu.affix:hover {
  opacity: 1;
  transition: opacity 0.3s
}

.fading-side-menu a {
  color: rgb(102, 102, 102);
}

.fading-side-menu a .fa {
  padding-right: 15px;
}

.table {
  font-weight: 600;
  font-size: 14px;
  th {
    font-weight: normal;
  }
}

.modal-edit-category {
  .modal-content {
    width: 50%;
  }
}

.admin-nav {
  background-color: #fff !important;
}

.review-content {
  font-size: 19px;
}

.main-wrapper {
  margin-top: 80px;
}

.admin-filter {
  margin-top: 20px;
}

.btn-new-book {
  margin-bottom: 20px;
}

#custom-search-input {
  margin-top: 20px;
}

.beloved,
.bk-info {
  margin: 0 auto;
  display: table;
}

.bk-info h3 {
  padding: 25px 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 26px;
}

.bk-info h4 {
  color: red;
}

.bk-info h3 span:first-child {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
  color: #777;
}

.bk-info p {
  line-height: 24px;
  color: #444;
  min-height: 160px;
}

.showcase {
  margin: 0 auto;
  display: table;
}

.services {
  height: 250px;
  text-align: center;
  .count {
    font-size: 28px;
  }
  .circle {
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: darkSlateGray;
  }
}

.story-img {
  display: none;
}

.story {
  h4 {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    width: 165px;
    margin: 0 auto;
    display: none;
  }
  p {
    margin-top: 10px;
    display: none;
  }
}

.welcome-msg {
  font-size: 40px;
  display: none;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid;
  width: 675px;
  text-align: center;
  margin: 0 auto;
}

.bm-list {
  font-size: 18px;
  .read:before {
    font-family: 'FontAwesome';
    content: '\f02d';
    margin: 0 5px 0 -15px;
  }
  .reading:before {
    font-family: 'FontAwesome';
    content: '\f140';
    margin: 0 5px 0 -15px;
  }
}

.bookmark {
  height: 120px;
  padding-top: 20px;
}

.fav-actions {
  .heart {
    left: 200px;
    top: -10px;
  }
}

.activity-feed {
  padding: 15px;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #e4e8eb;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #f37167;
}

.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}

.activity-feed .feed-item .text {
  position: relative;
  top: -3px;
}

.search {
  display: none;
  .form-control {
    margin: 0;
  }
  .search:hover {
    border-bottom: none;
  }
}

.subsubsub {
  margin-bottom: 15px;
  .filter-sel {
    width: 500px;
    margin: 0;
  }
}

.comment-list {
  list-style: none;
  .comment-item {
    margin-top: 15px;
  }
}

.comment-time {
  font-size: 10px;
  text-decoration: underline;
  margin-left: 38px;
}

.review-date {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}


/* USER PROFILE PAGE */

.follist {
  list-style: none;
}

.folavatar {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.follow-control {
  text-align: center;
  margin-bottom: 15px;
  .btn {
    width: 150px;
    border-radius: 0;
  }
}

.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}

.card.hovercard .card-background {
  height: 130px;
}

.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}

.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}

.card.hovercard .card-info .card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.bars {
  .navbar {
    list-style: none;
    padding: 0px;
    background-color: $bgDefault;
  }
  i {
    color: red;
  }
  ul > li {
    float: left;
    padding: 1px 10px;
    border-right: 1px solid #505050;
    height: 22px;
    display: inline-block;
  }
  ul > li:last-child {
    border-right: none;
  }
  ul > li > a {
    color: blue;
  }
}

.btn-pref .btn {
  -webkit-border-radius: 0 !important;
}

.heart {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: url(heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

.avg-head {
  font-size: 22px;
}

.avg-rating {
  font-size: 30px;
  color: $textCol;
  text-decoration: none !important;
  cursor: pointer;
}

.review-list {
  list-style: none;
}

.totop {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 7px 14px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  background-color: darkSlateGray;
}

.totop a {
  display: none;
  color: white;
}

.review-item {
  display: none;
  padding: 10px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  margin-bottom: 5px;
  background-color: #f1f1f1;
}

#loadMore {
  text-decoration: none;
  margin: 0 auto;
  display: table;
  padding: 10px;
  text-align: center;
  background-color: #33739E;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

#loadMore:hover {
  background-color: #fff;
  color: #33739E;
}

.no-rating {
  font-size: 14px;
}

h4 .rate-count {
  font-size: 36px;
}

.starrr {
  display: inline-block;
  a {
    font-size: 20px;
    padding: 0 1px;
    cursor: pointer;
    color: $starrrColor;
    text-decoration: none;
  }
}

.rate-count i {
  color: $starrrColor;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  width: auto;
  margin-left: 0;
}

.bars {
  .navbar {
    list-style: none;
    padding: 0px;
  }
  i {
    color: red;
  }
  ul > li {
    float: left;
    padding: 1px 10px;
    border-right: 1px solid #505050;
    height: 22px;
    display: inline-block;
  }
  ul > li:last-child {
    border-right: none;
  }
}

.content-break {
  position: relative;
  height: 10px;
  margin: 0 -10px 16px -10px;
  background-color: darkSlateGray;
}

.pub-date {
  font-style: bold;
  color: #1F3A93;
}

.highlight {
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 95%, rgba(255, 255, 255, 0));
}

.timestamp {
  font-size: 12px;
  font-style: italic;
}


/* Fav Books */

.fav-list {
  list-style: none;
  .fav-item {
    text-align: center;
    margin: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
    width: 175px;
    display: inline-block;
  }
  .favorited-books {
    font-size: 19px;
    font-weight: bold;
  }
  .book-count {
    font-size: 33px;
  }
  .fav-box {
    height: 600px;
    overflow-y: scroll;
    padding: 5px;
  }
}

/* User Profile */

.user-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  .user-name a {
    text-align: center;
    font-size: 24px;
    color: inherit;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
  }
}


/* Typo */

h1 {
  text-transform: none;
  font-size: 30px;
  font-weight: 500;
}


/* The Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $bgDefault;
  color: $textCol;
}

.modal-body {
  padding: 25px;
}

.edit-modal-body {
  padding: 25px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}


/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* button */

.semi-transparent-button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 80%;
  max-width: 200px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  color: $textCol;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  border: 1px solid $colHighlight;
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
  background: black;
  color: #fff;
  transition: all 0.5s ease-in;
}


/* hr */

.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 0px;
}


/* welcome */

.jumbotron {
  text-align: center;
  background-color: inherit;
}

.welcome {
  height: 610px;
  a {
    text-decoration: none !important;
  }
  h6 {
    font-size: 22px;
    color: $textCol;
  }
  a.app-desc {
    font-size: 69px;
    font-weight: bold;
    color: rgb(47, 46, 46);
  }
}


/* main navbar */

header {
  background-color: #C8BCA7 !important;
  max-height: 74px;
  .nav > .logo {
    margin-right: 40px;
  }
  .nav > li a {
    color: black;
    font-weight: 300;
    line-height: 45px;
    font-size: 18px;
  }
  .nav > li > a:hover {
    color: white;
    background-color: transparent;
  }
  .navbar-form {
    margin-top: 20px;
    button {
      margin-top: -12px;
    }
  }
}


/* body */

body {
  color: #333;
  font-weight: 400;
  font-family: 'Glegoo', sans-serif;
}


/* footer */

footer {
  margin-top: 45px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
