<div class="mini-navbar">
  <div class="usercp"><a href="#"><i class="fa fa-user fa-2x"></i></a></div>
  <div class="test2"><a href="#"><i class="fa fa-graduation-cap fa-2x"></i></a></div>
  <div class="test3"><a href="#"><i class="fa fa-code fa-2x"></i></a></div>
  <div class="test4"><a href="#"><i class="fa fa-envelope-o fa-2x"></i></a></div>
  <div class="mask2"><i class="fa fa-home fa-3x"></i></div>
</div>
<div class="container">
  <div class="nav-center">
    <nav class="navbar navbar-default top-nav">
      <div class="row">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to t("home"), root_path %>
          </li>
          <li>
            <%= link_to t("books"), "#" %>
          </li>
          <li>
            <%= link_to t("contact"), contact_path %>
          </li>
          <li>
            <%= link_to t("signup"), signup_path %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <hr class="style-two" />
</div>
